body {
    /* background-image: repeating-linear-gradient(rgb(31, 134, 141), blue); */
    background-image: repeating-linear-gradient(rgb(31, 134, 141),aquamarine);
}
.heading{
    background-image: url("featureImages/GIF.gif"); 
    text-align: center;
}
.wording{
    padding : 1em;
}
.pizzaAPI{
    padding: 2em;   
}
.latestCart {
    background-color: rgb(25, 151, 151);
    border: 1px solid;
    border-radius : 0.5em;
    padding: 1em;
    margin: 2em;
    width: 40em;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.buyButton {
    background-color: grey;
    padding : 1em; 
    border : 2px solid;
    border-radius: 1em;
    margin : 0.3em;
    width: em;
    height: 3em;
}
.buyButton:hover{background-color: whitesmoke;}

.add{
    background-color: green;
}
.add:hover{
    background-color: greenyellow;
}
.minus{
    background-color: rgb(129, 10, 10);
}
.minus:hover{background-color: red;}

.checkoutButton {
    background-color: #eae2b7;
    padding : 0.4em;
    border : 0.2em solid;
    margin-top : 1em; 
}
.checkoutButton:hover {background-color: whitesmoke;}

.PayNowww {
    background-color: #feac07;
}
.PayNowww:hover{background-color: #fed907;}

.latestCarttable{
    border-collapse: collapse;
    width: 110%;
    margin-left: auto;
    margin-right: auto;
}

td{
padding: 1em;
}

.featuredPizza {
    /* background-color: rgb(177, 25, 106); */
    background-color: rgb(177, 154, 25);
    border: 1px solid;
    border-radius : 0.5em;
    padding: 1em;
    margin: 0.5em;
}
.Small_pizza{
    border-radius : 1em;
    margin : 1em;
    padding : 1em;
    width : 30em;
    text-align: center;
}
.Medium_pizza{
    border-radius : 1em;
    margin : 1em;
    padding : 1em;
    width : 30em;
    text-align: center;  
}
.Large_pizza{
    border-radius : 1em;
    margin : 1em;
    padding : 1em;
    width : 30em; 
    text-align: center; 
}
.paidPizza {
    background-color: rgb(25, 151, 151);
    border: 1px solid;
    border-radius : 0.5em;
    padding: 1em;
    margin: 0.5em;
    text-align:center; 
}

.backButton {
    background-color: rgb(238, 255, 0);
    padding : em; 
    border : 2px solid;
    border-radius: 1em;
    margin : 0.3em;
    width: em;
    height: 3em;
}
.backButton:hover{background-color: #f6c07d;}
